---
layout: default
---

{% include lang.html %}

{% assign all_pinned = site.posts | where: 'istop', 'false' | sort: 'order' %}
{% assign all_normal = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<!-- Get all posts -->
{% assign all_posts = all_pinned | concat: all_normal %}

<!-- Get posts on current page -->
{% assign visible_start = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign visible_end = visible_start | plus: paginator.per_page %}

{% for post in all_posts offset: visible_start limit: paginator.per_page %}
  {% assign posts = posts | push: post %}
{% endfor %}

{% assign toppost = site.posts | where: 'istop', 'true' | sort: 'order' %}
<!-- 使用 mx-auto 让容器本身水平居中，内部仍保持 text-center 实现内容居中 -->
<div class="position-relative d-flex justify-content-center">
  {% for post in toppost %}
    <!-- 每行同样用 mx-auto 保证在行内水平居中 -->
    <div class="row mx-auto text-center" style="width:200px;height:200px;">
      <div class="col text-center rounded-circle border border-info border-2" style="background-image:url('{{ post.image }}');background-size:cover;background-repeat:no-repeat;background-position:center;">
      </div>
    </div>
  <div class="row mt-4">
    <a href="/" class="mt-2">
        <div class="position-absolute bottom-0 start-50 translate-middle-x">
        <div class="d-inline p-2 text-bg-primary rounded">
        {% include post-summary.html %}
        </div>
        </div>
      </a>
   </div>
  {% endfor %}
</div>
<div class="container">
  {% for post in posts %}
  <div class="row mt-3">
    <div class="col">
      <img class="w-100 img-fluid" style="width:100%;height:100%;" src="{{ post.image }}">
    </div>
    <div class="col">
      <h2>
      {{ post.title }}，{{ post.filecount }}
      {% include post-summary.html %}
      </h2>
    </div>
  </div>
  {% endfor %}
</div>


<!-- #post-list -->

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}
