---
layout: default
---

{% include lang.html %}

{% assign all_pinned = site.posts | where: 'istop', 'false' | sort: 'order' %}
{% assign all_normal = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<!-- Get all posts -->
{% assign all_posts = all_pinned | concat: all_normal %}

<!-- Get posts on current page -->
{% assign visible_start = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign visible_end = visible_start | plus: paginator.per_page %}

{% for post in all_posts offset: visible_start limit: paginator.per_page %}
  {% assign posts = posts | push: post %}
{% endfor %}

{% assign toppost = site.posts | where: 'istop', 'true' | sort: 'order' %}
<table class="w-100">
  {% for post in toppost %}
  <tr>
    <td class="d-flex justify-content-center text-center" align="center">
      <div class="row text-center" style="width:200px;height:200px;">
        <div class="col w-100 rounded-circle border border-info border-2" style="background-image:url('{{ post.image }}');background-size:cover;background-repeat:no-repeat;background-position:center;">
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="p-2 text-bg-primary rounded h-auto text-center">
        <a href="/" class="mt-2 text-white">
          {% include post-summary.html %}
        </a>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>

<div class="container">
  {% for post in posts %}
  <div class="row mt-3">
    <div class="col">
      <a href="{{ post.href }}">
      <img class="w-100 img-fluid" style="width:100%;height:100%;" src="{{ post.image }}">
      </a>
    </div>
    <div class="col">
      <h2>      
      <a href="{{ post.href }}">
      {{ post.title }}，{{ post.filecount }}
      {% include post-summary.html %}
      </a>
      </h2>
    </div>
  </div>
  {% endfor %}
</div>


<!-- #post-list -->

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}
